<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>cours vue.js Linkedin</title>
  <!-- CSS -->
  <link rel="stylesheet" href="src/assets/style.css"/>
</head>
  <body>
    <div id="app">
      <div class="product-section">
        <div class="product-image">
          <!-- : est le raccourcis de  la directive v-bind qui crée une liaison unidirectionnelle. cad qu'elle se fait des données JS vers le model html-->
          <img :src="image" alt="pizza1">
        </div>
      </div>
      <h1>{{ product + ' ' + type}}</h1>
      <div class="cart">
        <table>
          <thead>
            <tr>
              <th colspan ="2">Votre commande</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ title }}</td>
              <td>x {{ nbProduct }}</td>
            </tr>
            <tr>
              <td>Code promo :</td>
              <td class="code-promo">
                <!-- grace a v-model j'ai pu modifier l'élément promo dans les données js et ces données js ont pu être récupérées et affichée dans le html. Elles ont été récupéré et analysé dans la condition v-if. (liaison bi-directionnelle)  -->
                <input v-model = "promo" placeholder="Ajouter un code promo"/>
              </td>
            </tr>
            <tr>
              <td>Total à payer</td>
              <td>
                <!-- la promotion ne s'appliquera que si l'on tape le code promo royale dans l'input grace à v-if -->
                <div v-if= "promo === 'royale'">
                  (-3€)
                  <span class="sale">{{totalPrice}}€</span>
                  {{totalPrice - 3}}€
                </div>
                <div v-else>
                  {{ totalPrice }}€
                </div>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="product-description">
        <!-- v-show permet de cacher une donnée selon une condition définie, il est moins couteux d'utiliser v-show si on a besoin de cacher régulièrement qqch-->
        <p v-show ="notAvailable">Momentanément indisponible</p>
        <!-- rendu conditionnel v-if v-else -->
        <p v-if="sale">
          <!-- <span class="sale">Prix:{{ price }}€</span> -->
          <span class="new-price">Prix promo: {{ price - 5 }}€</span>
        </p>
        <p v-else>
          <span class="price">Prix: {{ price }}€</span>
        </p>
        <br>

        <strong>Ingrédients</strong>
        <div>
          <!-- permet de boucler pour récuperer les ingrédients du tableau. elle répliquera la baslise autant de fois qu'il y a d'ingrédients.
          
          v-for prend un 2eme élément facultatif pour l'index des éléments généré par un tableau). pour les objets cet index sera le 3eme argument.
          on place cette index et on le réutilise dans l'attribut key
          -->
          <span v-for = "(ingredient, index) in ingredients" :key='index'>{{ ingredient + ', ' }}</span>
        </div>
        <br>

        <div class="sauces">
          <strong>Sauce de choix
            <ul>
              <!-- key (attribut unique) permet de suivre l'identité de chaque noeud créé et ainsi pouvoir réutiliser et réorganiser les éléments existant. 

                ici dans le tableau objet, on utilisera l'id des éléments. 
                l'attribut key donne a chaque élément un clé unique afin que vue puisse saisir l'élément et ne pas le perdre à mesure que les choses se mettent à jour dans l'appli.

                Il est recommandé de fournir un attribut key a v-for dans la mesure du possible à moins que le contenu itéré ne soint simple ou que l'on préfère nous fier intentionnellement au comportement par défaut pour des gains de performance. Dans ce type de cas on peut s'en passer.
              -->

              <!-- je passe à ma méthode updateImage l'élément image de mon tableau sauce. au survol des differentes sauces l'image changera au survol de la souris sur les différentes-->
              <li v-for = 'sauce in sauces'  @mouseover='updateImage(sauce.image)'>{{ sauce.type }}</li>
            </ul>
          </strong>
        </div>

        <div>
          <strong>Valeurs nutritionnelles pour 100 grammes</strong>
            <ul>
              <!-- la boucle me renvoi le nom et la valeur de chaque éléments contenu dans l'objet energy -->
              <li v-for = '(name, value, index) in energy' :key='index'>{{ name }} : {{ value }}
              </li>
            </ul>
        </div>
        <!-- écoute d'un évènement au clic -->
        <button @click = 'addProduct()'> Ajouter à ma commande</button>
      </div>
    </div>


    <!-- JS -->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="/main.js"></script>
    <script>
    const mountApp = app.mount('#app');
    </script>
  </body>
</html>